
body {
  font-family: 'Roboto';
  font-weight: 400;
} 

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.nav-link:focus {
  color: #36A0F4;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index:100;
}

.img-cont {
  position: relative;
  width: 100%;
}

.img-cont .img {
  filter: grayscale(1);
  border-radius: 5px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  overflow:hidden;
}

.img-cont:hover .img {
  filter: grayscale(0);

}

.img-cont .project-heading {
  padding-top: 15px;
  padding-left: 5px;
  background: none;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  overflow-wrap: break-word;
  color: #444;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
}

.img-cont:hover .project-heading {
  color: #36A0F4;
}

.accordion-button {
  font-size: 26px;
  font-weight: 500;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(255, 255, 255, 0);
}

.resp {
  width: 100%;
  max-width: 450px;
  height: auto;
}

.logoicon {
  color: white;
}

.logoicon:hover {
  color: #36A0F4;
}

.areatexticon {
  color: #444;
}

.areatexticon:hover {
  color: #36A0F4;
}

/* Background */

.slider-thumb0::before {
  position: absolute;
  content: "";
  left: 15%;
  top: 0px;
  width: 400px;
  height: 390px;
  background: #ffffff31;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: 0;
  -webkit-animation: sliderShape 5s linear infinite;
}

.slider-thumb1::before {
  position: absolute;
  content: "";
  right: 1%;
  top: -260px;
  width: 2000px;
  height: 510px;
  background: #ffffff31;
  border-radius: 32% 74% 82% 53% / 54% 54% 80% 20%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 10s linear infinite;
  display: block;
  z-index: 1;
  -webkit-animation: sliderShape 10s linear infinite;
}

.slider-thumb2::before {
  position: absolute;
  content: "";
  left: 1%;
  top: -260px;
  width: 2000px;
  height: 510px;
  background: #ffffff31;
  border-radius: 32% 74% 82% 53% / 54% 54% 80% 20%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 15s linear infinite;
  display: block;
  z-index: 1;
  -webkit-animation: sliderShape 15s linear infinite;
}

@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}


.bg0 {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(45deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

.bg1 {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(45deg, rgb(67, 79, 215) 0%, rgb(41, 169, 3) 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

.bg2 {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(45deg, rgb(215, 205, 67) 0%, rgb(3, 150, 169) 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg0 .page-name {
  position: relative;
  width: 100%;
  top: 0px;
  z-index: 19;
  /* vertical-align: middle; */
}

.bg1 .page-name {
  position: absolute;
  width: 100%;
  top: 184px;
  text-align: center;
  z-index: 19;
}

.bg2 .page-name {
  position: absolute;
  width: 100%;
  top: 184px;
  text-align: center;
  z-index: 19;
}